@import "reset";
@import "variables";
@import "mixins";
@import 'fonts';
@import 'animations';
@import 'darkMode';
@import "header";
@import "main";
@import "footer";

body {
    background-color: $colorBodyBackground;
    color:$colorBody;
    @include box(100%,100vh);
    overflow: hidden;
    font-family: 'Roboto';
}