//COLORS:
$colorBodyBackground:black;
$colorBody:white;

$colorArticleBackground:rgb(34, 29, 29);
$colorArticle:white;

$colorDisplayBackground:rgba(37, 31, 31, 0.959);
$colorDisplay:white;

$colorHeaderBackground:rgb(29, 29, 29);

$colorFooterBackground:rgb(29, 29, 29);